.incoming-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.caller-name {
  font-size: 24px;
  margin-bottom: 40px;
  font-weight: bold;
}

.incoming-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 6rem;
}

.accept-button,
.reject-button {
  padding: 16px;
  font-size: 15px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.accept-button {
  background-color: #009000;
  color: white;
}

.reject-button {
  background-color: red;
  color: white;
}

.accept-button:hover,
.reject-button:hover {
  opacity: 0.8;
}
