@keyframes blink-default {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: lightcoral;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes blink-selected {
  0% {
    background-color: lightblue;
  }
  50% {
    background-color: lightcoral;
  }
  100% {
    background-color: lightblue;
  }
}

@keyframes blink-hovered {
  0% {
    background-color: lightpink;
  }
  50% {
    background-color: lightcoral;
  }
  100% {
    background-color: lightpink;
  }
}

.blink {
  animation-name: blink-default;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.blink-selected {
  animation-name: blink-selected;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.blink-hovered {
  animation-name: blink-hovered;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.selected {
  background-color: lightblue;
}

.hovered {
  background-color: lightpink;
}
