@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    }
th{
  color:white;
  font-weight: bolder;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width:10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #007dc6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007dc6; 
}
td{
 font-size: 10px;
}