@import "./variables";
@import "./mixins";
button {
    width: 5rem;
    border: none;
    background: $background-color;
    color: white;
    font-size: 1rem;
    padding: .6rem .6rem;
    margin: 0 .6rem;
    border-radius: 0.2rem;
}

.loader {
    margin: 30px;

}