@import './variables';
@import './mixins';

button {
  border: none;
  background: $background-color;
  color: white;
  font-size: 1rem;
  // padding: .6rem .6rem;
  margin: 0 0.6rem;
  border-radius: 0.2rem;
}

.loader {
  margin: 30px;
}

//emulator history
.emulator_history {
  border-bottom: .5px solid #D9DDDC !important;
  overflow: scroll !important;
  -webkit-overflow-scrolling: touch;
  font-size: 1rem !important;
}

@media screen and (max-width: 620px) {
  .emulator_history {
    border-bottom: .5px solid #D9DDDC !important;
    overflow-x: scroll !important;
    font-size: .8rem !important;
  }
}