@import "./variables";
@import "./mixins";
button {
    border: none;
    background: $background-color;
    color: white;
    font-size: 1rem;
    // padding: .6rem .6rem;
    margin: 0 .6rem;
    border-radius: 0.2rem;
}

.loader {
    margin: 30px;

}
// .add_user_button{
//     padding:0 1rem;  
//     margin-bottom: 1rem;
//     height:40px;
//     background-color:#007dc6;
//     width: auto;
//     color:white ;
// }
