@import "./mixins.scss";

.dialogue-box {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  .call-controls{
    @include vertical-list;

  .call-controls button:hover {
    background-color: #128c7e;
  }

  .call_buttons{
    width:3rem;
    height:3rem; 
    border-radius:50%;
  }
  
}
.call_header,
.calling_text{
  text-align: center;
  color:black;
}