.sms_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  form {
    // margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // gap: 2rem;

    .smsInput {
      padding: 0 0px 0px 15px;
      width: 93%;
      // margin: 2rem 0;
      height: 35px;
      border-radius: 5px;
      font-weight: bold;
      background: transparent;
      border: 2px solid #cacaca;
      // outline: none;
      color: rgb(47, 99, 117) 0, 97%, 38%, 0.485;
      transition: all 500ms ease-out;
    }

    .inputField {
      padding: 0px 10px 0px 0px;
      width: 98%;
      margin: 1rem 0;
      height: 35px;
      border-radius: 5px;
      font-weight: bold;
      background: transparent;
      border: 2px solid #cacaca;
      // outline: none;
      // color: rgb(47, 99, 117) 0, 97%, 38%, 0.485;
      transition: all 500ms ease-out;
    }

    .smsTextarea {
      width: 93%;
      margin: 0 1rem;
      min-height: 100px;
      // border: 1px solid #ccc;
      border: 2px solid #cacaca;
      border-radius: 4px;
      padding: 8px;
      font-size: 16px;
      resize: vertical;

      &:active {
        border: 2px solid #cacaca;
      }
      &:focus-visible,
      &:focus-within,
      &:focus {
        border: 2px solid #cacaca !important;
      }
      &::placeholder {
        font-weight: bold;
      }
    }
  }
}
.sms_list_card {
  overflow-y: auto;
  max-height: 10rem;
  height: 10rem;
  color: black;
  .card_list {
    color: black;
  }
}
