@import "./variables.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap");

@font-face {
  font-family: "Gotham-Bold";
  src: url("../../public/fonts/Gotham-Black.eot");
  src: url("../../public/fonts/Gotham-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Gotham-Bold.woff2") format("woff2"),
    url("../../public/fonts/Gotham-Bold.woff") format("woff"),
    url("../../public/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Black";
  src: url("../../public/fonts/Gotham-Black.eot");
  src: url("../../public/fonts/Gotham-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Gotham-Black.woff2") format("woff2"),
    url("../../public/fonts/Gotham-Black.woff") format("woff"),
    url("../../public/fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../../public/fonts/Gotham-Book.eot");
  src: url("../../public/fonts/Gotham-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Gotham-Book.woff2") format("woff2"),
    url("../../public/fonts/Gotham-Book.woff") format("woff"),
    url("../../public/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-BoldItalic";
  src: url("../../public/fonts/Gotham-BoldItalic.eot");
  src: url("../../public/fonts/Gotham-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Gotham-BoldItalic.woff2") format("woff2"),
    url("../../public/fonts/Gotham-BoldItalic.woff") format("woff"),
    url("../../public/fonts/Gotham-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../../public/fonts/Gotham-Light.eot");
  src: url("../../public/fonts/Gotham-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Gotham-Light.woff2") format("woff2"),
    url("../../public/fonts/Gotham-Light.woff") format("woff"),
    url("../../public/fonts/Gotham-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Gotham-Book";
  font-weight: 500;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $background-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $background-color;
}

/* // Common Classes */

.centerMid {
  @include itemPosition(center, center);
}

.spcBetween {
  @include itemPosition(flex-start, space-between);
  gap: 10px;
}
.flex-column {
  flex-direction: column;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}
.btn-main {
  background-color: $background-color;
  border-radius: 12px !important;
  color: white;

  &:hover {
    color: $light;
  }
}
.btn-green {
  background-color: #59ac42;
  border-radius: 12px !important;
  color: white;
  &:hover {
    color: $light;
  }
}

.dashboard {
  background: #F3F6F9;
  padding: 5rem 0 0 0;
}

input {
  &:focus {
    box-shadow: none !important;
  }
}

.gm-style-mtc
{
  display: none !important;
}

.gm-fullscreen-control
{
  top: 18.5vh !important;
}