@import "./variables";
@import "./mixins";


body {
  @include main; 
}
@media (max-width: 1200px) {
  body {
   overflow-y: auto !important;  
  }
}


//reset_password

.reset_password {
  @include vertical-list;
  flex-direction: column;

  .reset_password_form {
    width: auto;
    height:auto;
    box-shadow: $shadow;
    padding: 2rem;
    margin:1rem;
  }
}

@media (min-width: 440px) {
  td{
    font-size: 8px;
  }

  .emulator_table {
    margin: 0rem 1rem;
  }
}