.home_div{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10rem;
}
.add_items{
  width: auto;
  border-radius: 0rem;
}
@media (min-width: 768px) {
    .d-md-table-header-group {
      display: table-header-group !important;
    }
  }
  