@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
$accent-color: rgb(47, 99, 117)0, 97%, 38%, 0.485;
$secondary-color: #e6f7d1;
$main-color: hsla(180, 97%, 38%, 0.485);

body {
  @include main;
}

.authScreen {
  width: 100%;
  height: 100vh;
  background-color: $background-color;
  position: relative;
  .row{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0.2rem;
  }
  .Left_content {
    hr {
      color: white;
      height: 2px;
    }

    p {
      color: white;
      text-align: center;
    }
  }
  .authCard {
    max-width: 350px;
    margin: auto;
    border: 1px dotted grey;
    border-radius: 15px;

    form {
      
    margin: 15px;
     height: auto;
     display: flex;
     flex-direction: column;
     text-align: center;

      h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }

      .inputField {
        margin: 18px 0;

        input {
          width: 100%;
          background-color: rgba($color: $background-color, $alpha: 0.1);

          &:focus {
            box-shadow: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $background-color;
      }
    }

    .Left_content {
      background-color: $background-color;
      border-radius: 15px 15px 0 0;

      img {
        width: 200px;
        display: block;
        margin: auto;
        padding-top: 15px;
      }

      p {
        padding: 15px;
      }
    }
  }

  img.gps {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 200px;
    transform: translate(-50%);
    z-index: 1;
  }

  img.middle {
    position: absolute;
    left: 50%;
    top: 0;
    width: auto;
    transform: translatex(-50%);
    height: 100%;
    z-index: 0;
  }
}

@media only screen and (max-width: 1370px) {
  .authScreen {
    img.gps {
      display: none;
    }

    img.middle {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .authScreen {

    .authCard {
      form {

        h1 {
          text-align: center;
          font-size: 25px;
        }

        .btns {
          text-align: center;
        }


      }

    }
    .Left_content {
      p {
        max-width: 250px;
        margin: auto;
      }
    }
  }
}
.main_div {
  display: flex;
  height: 100vh; 
  overflow: hidden; 

  .left {
    background: $background-color;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

    .hr {
      border: 2px solid white;
    }

    .map_img {
      width: 20rem;
      height: 10rem;
      text-decoration: underline;
    }

    .para {
      font-weight: 600;
      font-size: 18px;
      line-height: 21.94px;
      color: white;
    }
  }

  .right {
    width: 50%;
  

    .map_img {
      width: 50%;
      position: relative;


      .center_div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(10%, -70%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: #ffffff;
          margin: 0 auto;
          padding: 30px;
          width: 320px;
          height: 380px;
          box-shadow: $shadow;

          .login_button {
            @include vertical-list;
            text-align: center;
          }
        }

        h1 {
          font-size: 2.3rem;
          color: $background-color;
          margin: 30px 0 50px 0;
          text-decoration: underline;
        }
      }
    }
  }
}



@mixin default-view {
  padding: 0 15px;
  width: -webkit-fill-available;
  margin: 15px;
  height: 35px;
  border-radius: 20px;
  font-weight: bold;
}

input {
  @include default-view;
  background: $secondary-color;
  border: 2px solid $secondary-color;
  outline: none;
  color: $accent-color;
  transition: all 500ms ease-out;

  &:focus {
    border: 2px solid $accent-color;
  }
}

.login_button {
  @include default-view;
  background: $background-color;
  margin: 40px 15px 20px 15px;
  color: $white-color;
  transition: all 500ms ease-out;
  animation: lights 4000ms infinite ease-in;
  border: 0;

  &:hover {
    border: 1px solid $background-color;
    box-shadow: 0px 0px 10px 2px $background-color;
    animation: none;
  }
}

@keyframes lights {
  0% {
    box-shadow: 0px 0px 5px 2px $secondary-color;
  }

  50% {
    box-shadow: 0px 0px 5px 2px $accent-color;
  }

  70% {
    box-shadow: 0px 0px 5px 2px #64896a;
  }

  100% {
    box-shadow: 0px 0px 5px 2px $secondary-color;
  }
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-size: 10px;
  font-weight: bolder;
  opacity: 0.6;
  transition: all 300ms ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}