@import "./mixins.scss";
@import "./variables.scss";

body {
  @include main;
}

.gps_page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  flex-wrap: nowrap;
  padding-top: 63px;
}

.gps_map {
  flex: 1;
  position: relative;
}

.gps_overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
  margin-top: 3rem;
  z-index: 2;
}

.gps_createTrip_overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin-top: 3rem;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.gps_tables {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gps_map {
  flex-basis: 70%;
  height: 100vh;
}

.create_trip_button {
  position: absolute;
  top: 0;
  left: 50;
  padding: 10px;
}

.create_trip_button button {
  padding: 8px 12px;
}

//table//
.tableBox {
  padding: 10px;
  // background-color: rgba($color: $secondary, $alpha: 0.2);
}

table {
  font-size: 16px;
  width: auto;
  padding: 0.5rem;
  background: $light;
  overflow: hidden;
}

td,
th {
  border: 1px solid $light-grey;
  text-align: left;
  padding: 12px;
  vertical-align: middle;
}

th {
  background-color: $primary;
  color: $primary;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 0.75rem;
  }

  td,
  th {
    padding: 8px;
  }
}

@media screen and (max-width: 786px) {
  .gps_page {
    flex-wrap: wrap;
  }

  .gps_tables,
  .gps_map {
    flex-basis: auto;
  }
}

.mapContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: static;
  color: #fff;
}

.btnCont {
  display: grid;
  justify-content: center;
  align-items: center;
  background: $primary;
}

@media only screen and (max-width: 552px) {
  .gps_page {
    padding-top: 107px;
  }
}
