@import "./mixins.scss";
@import "./variables.scss";

body{
  @include main;
}
.gps_page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
}

.gps_map {
  flex: 1;
  position: relative;
}

.gps_overlay {
  position: absolute;
  top: 0;
  right: 0; /* Position at the top right corner */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  z-index: 2;
}


.gps_page {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 5rem;
}


.gps_tables {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.gps_map {
  flex-basis: 70%;
  height: 100vh;
}
.create_trip_button {
  position: absolute;
  top: 0;
  left: 50;
  padding: 10px;
}
.create_trip_button button {
  padding: 8px 12px;
}
//table//
table {
  font-family: Raleway, sans-serif;
  font-size: 0.875rem;
  border-collapse: collapse;
  width: 30%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background: $light-grey;
}

td,
th {
  border: none;
  box-shadow: $tableShadow;
  text-align: left;
  padding: 12px;
}

th {
  background-color: $background-color;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 0.75rem;
  }

  td,
  th {
    padding: 8px;
  }
}
@media screen and (max-width: 786px) {
  .gps_page {
    flex-wrap: wrap;
  }

  .gps_tables,
  .gps_map {
    flex-basis: 100%;
  }
}

.mapContainer {
  height:100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: static;
  color: #fff;
}


.btnCont {
  display: flex;
  justify-content: center;
}