@import "./variables";
@import "./mixins";

body{
  @include main;
}
.app_bar{
  background-color: $background-color !important;
  color: white !important;
  display: flex !important;
  justify-content: space-between!important;
  align-items: center !important;
.logo{
  img{
    width:14rem;
  }
}
.menu-link{
  display: flex !important;
  justify-content: space-between!important;
  align-items: center !important;
  color: white !important;

  
  a{
    font-size: 1rem!important;
    color: white !important;
    font-weight: 100;
  }
}
}