$background-color: #007dc6;
$active_color: #eeaf1d;
$text-color: #ffffff;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$white-color:#ffffff;
$light-grey: #edebeb;
$btn-color:rgb(26, 154, 233);
$shadow:  -3px -3px 7px #97949473, 2px 2px 7px rgb(137, 138, 138);
$tableShadow:  -3px -3px 7px #bfbdbd73, 2px 2px 7px rgb(222, 241, 252);
$tableBG:rgb(222, 241, 252);
$greyColor:#bbbaba;
$primary: #007dc6;

$block-padding: 60px;
$light:#ffffff;

// HEX #007dc6 and #eeaf1d