$background-color: #009EF7;
$box_color:#ffffff;
$text-color: #ffffff;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$btn-color:rgb(26, 154, 233);
$shadow:  -3px -3px 7px #97949473, 2px 2px 7px rgb(137, 138, 138);
